<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.morgan.manage.system.dao.RoleMenuMapper" >


  <sql id="allSelectColumns">
    id,role_id AS roleId,menu_id AS menuId
  </sql>

  <select id="findMenusByRoleId" resultType="com.morgan.manage.system.model.SysRoleMenu">
    SELECT <include refid="allSelectColumns"/>
    FROM sys_role_menu
    WHERE role_id = #{roleId}
  </select>
</mapper>