<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.morgan.manage.system.dao.UserMapper">



  <sql id="allSelectColumns">
    id,username AS userName,`name`,password,email,status,
    create_time AS createTime,update_time AS updateTime
  </sql>

  <select id="findUserByName" resultType="sysUser">
    SELECT <include refid="allSelectColumns"/>
    FROM sys_user
    WHERE username = #{userName}
  </select>
</mapper>